<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="MessagePack, msgpack, JSON, Binary JSON, Serializer, Serialization" />
  <link href='favicon.ico' rel='icon' type='image/x-icon'/>

  <title>MessagePack: It's like JSON. but fast and small.</title>

  <!--[if lt IE 9]><script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js" ></script><![endif]-->
  <link media="all" rel="stylesheet" type="text/css" href="css/yuibase.css" />
  <link media="all" rel="stylesheet" type="text/css" href="js/prettify/prettify.css" />
  <link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="js/all.js" ></script>
  <script type="text/javascript" src="js/prettify/prettify.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script type="text/javascript" src="js/jquery.leanModal.min.js" ></script>
  <script type="text/javascript" src="js/msgpack.js" ></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17125377-1']);
  _gaq.push(['_setDomainName', 'msgpack.org']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_anonymizeIP']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  $(function(){$('pre > code').addClass('prettyprint');prettyPrint();});
  </script>

  <script type="text/javascript">
  $(function() {
      $('a[rel*=leanModal]').leanModal({
          top: 100,
          overlay : 0.5,
          closeButton: ".modal_close"
      });
  });
  </script>

  <script type="text/javascript">
  $(function() {
    $("#json-text").keyup(function(event) {
      var json;
      try {
         json = JSON.parse($("#json-text").val());
      } catch (e) {
         return;
      }
      var msg = msgpack.pack(json);
      var hex = jQuery.map(msg, function(e,i) { return e.toString(16); }).join(" ");
      $("#msgpack-text").text(hex);
    }).keyup();
  });
  </script>
</head>
<body onload="prettyPrint();var index=Math.floor(Math.random()*(document.getElementsByClassName('qs').length-1));changeQuickStart(document.getElementsByClassName('qs')[index].id,document.getElementsByClassName('qs-a')[index])">
  <header>
    <div>
      <h1><a href="/">MessagePack</a></h1>
      <nav id="topnav">
        <ul>
          <li><a rel="leanModal" href="#json-to-msgpack">Try!</a></li>
          <li><a href="https://github.com/msgpack/msgpack/blob/master/spec.md">Spec</a></li>
          <li><a href="http://twitter.com/search/MessagePack%20OR%20msgpack">#msgpack</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section id="introduction">
      <div id="description">
        <h2>It's like JSON.<br />but fast and small.</h2>
        <p>MessagePack is an efficient binary serialization format. It lets you exchange data among multiple languages like JSON. But it's faster and smaller. Small integers are encoded into a single byte, and typical short strings require only one extra byte in addition to the strings themselves.</p>
        <!--<p>Best for memcached, and network protocol aiming for performance and loosly-coupling.</p>-->
      </div>

      <div id="next">
        <h3>Next:</h3>
        <p>MessagePack has new spec! See <a href="https://github.com/msgpack/msgpack/blob/master/spec.md">MessagePack update proposal v5</a> for the spec and migration plan.<br />See <a href="https://github.com/msgpack/msgpack/issues/128">github issue 128</a> for discussion.</p>
      </div>
    </section>

    <section id="usecases">
      <div id="testimonials">
        <div class="tmset">
          <div class="tm">
            <a class="tmlogo" href="http://redis.io/"><img src="images/redis.png" alt="Redis" width="150" height="50" /></a>
            <p class="tmtext">Redis scripting has support for MessagePack because it is a fast and compact serialization format with a simple to implement specification. I liked it so much that I implemented a MessagePack C extension for Lua just to include it into Redis.</p>
            <p class="tmauthor">Salvatore Sanfilippo, creator of Redis</p>
          </div>

          <div class="tm">
            <a class="tmlogo" href="http://fluentd.org/" style="height:131px;margin-top:-66px;"><img src="images/fluentd.png" alt="Fluentd" width="240" height="122" /></a>
            <p class="tmtext">Fluentd uses MessagePack for all internal data representation. It's crazy fast because of zero-copy optimization of msgpack-ruby. Now MessagePack is an essential component of Fluentd to achieve high performance and flexibility at the same time.</p>
            <p class="tmauthor">Sadayuki Furuhashi, creator of Fluentd</p>
          </div>
        </div>

        <div class="tmset">
          <div class="tm">
            <a class="tmlogo" href="http://www.treasuredata.com/"><img src="images/treasuredata.png" alt="Treasure Data" width="300" height="61" /></a>
            <p class="tmtext">Treasure Data built a multi-tenant database optimized for analytical queries using MessagePack. The schemaless database is growing by billions of records every month. We also use MessagePack as a glue between components. Actually we just wanted a fast replacement of JSON, and MessagePack is simply useful.</p>
            <p class="tmauthor">Kazuki Ohta, CTO</p>
          </div>

          <div class="tm">
            <a class="tmlogo" href="http://pinterest.com/"><img src="images/pinterest.png" alt="Pinterest" width="197" height="50" /></a>
            <p class="tmtext">MessagePack has been simply invaluable to us. We use MessagePack + Memcache to cache many of our feeds on Pinterest. These feeds are compressed and very quick to unpack thanks to MessagePack while Memcache gives us fast atomic pushes.</p>
            <p class="tmauthor">Marty Weiner, Software Engineer</p>

            <p class="tmcontribute">Also use MessagePack? <a href="https://github.com/msgpack/website">Waiting for your testimonial!</a></p>
          </div>
        </div>
      </div>

      <div id="twitter">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=msgpack+OR+MessagePack+lang%3Aen" data-widget-id="343624208380735490" width="350" height="500">Tweets about "msgpack OR MessagePack"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <!--
        -->
      </div>
    </section>

    <section id="usage">
      <div id="languages">
        <h3>Languages</h3>

        <ul class="qslist">
          <% @repos.each do |repo| %>
          <li><a class="qs-a" onclick="changeQuickStart('qs-<%= repo['id'] %>',this)"><%= repo['lang'] %> <span class="qs-sub"><%= repo['owner'] %></span></a></li>
          <% end %>
        </ul>
      </div>

      <div id="api">
        <h3>API</h3>
        <h4 id="language">&nbsp;</h4>
        <div id="quickstart" class="qsholder"></div>
        <p id="quickstart-guide"><a href="https://github.com/msgpack/website/blob/master/README.md">List your implementation here!</a></p>

        <% @repos.each_with_index do |repo,i| %>
        <div id="qs-<%= repo['id'] %>" class="qs"><h4><a href="<%= repo['url'] %>" target="_blank"><%= repo['owner'] %>/<%= repo['name'] %> <span class="qs-url"><%= repo['url'] %></a></li></h4>
<%= repo['quickstart_html'] %>
        </div>
        <% end %>
      </div>
    </section>

    <section id="related">
      <h3>Related projects</h3>

      <div class="paragraphs">
      
        <h4><a href="https://code.jd.com/tommybao/msgpack-rpc-python">msgpack-rpc-python</a> by WWW.JD.COM, Inc.</h4>
        <p>msgpack-rpc is a flexible RPC implementation based on eventlet and messagepack.</p>

        <h4><a href="https://github.com/dotcloud/zerorpc-python">ZeroRPC</a> by DotCloud</h4>
        <p>zerorpc is a flexible RPC implementation based on zeromq and messagepack. Service APIs exposed with zerorpc are called "zeroservices".</p>

        <h4><a href="https://github.com/pfi/pficommon">pficommon</a> by Preferred Infrastructure, Inc.</h4>
        <p>General purpose C++ library for Preferred Infrastructure, Inc. It includes MessagePack-RPC implementation for C++</p>
      </div>

    </section>

    <div id="json-to-msgpack">
      <h3>JSON</h3>
      <form>
        <textarea type="text" id="json-text">{"compact":true,"schema":0}</textarea>
      </form>
      <h3>MessagePack (hex)</h3>
      <div id="msgpack-text"></div>
    </div>
  </main>

  <footer>
    <div>
      <div id="thanks">
        <p>MessagePack &trade; Copyright &copy; 2008-2013 Sadayuki Furuhashi</p>
      </div>
    </div>
  </footer>
</body>
